*{
    margin: 
    padding; 0;
    box-sizing: border-box;
}
    body{
        content: '';
        position: fixed;
        top: 0%
        left: 0;
        width: 100%;
        height: 100%;
        font-family:ARREYS,OJONG, sans-serif;
        background-color: rgb(0, 0, 4); /* dark background */
        z-index: -1;/* behind other content */
        color:  #333;

nav ul {
    list-style: none;none;
    display: flex;
    justify-content: center;

}       
nav ul li  {
margin: 0 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: ;4px;
}
nav ul li a:hover {
    color: #fcc00f;
    background-color: #0f27fc;
}
footer {
    text-align: center;
    padding: 40px;
}
    background-color: #004080;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
contact h2 {
    background-color: rgba(0, 0, 0, 0.945);
    max-width: 500px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 o 10px rgb(red, green, rgba(6, 6, 235, 0.856));
}
#contact h2 {
    text-align: center;
    color: black;
margin:-botton; 15px;
}
.form-group {
    display: block;
    margin-bottom: 8px;
    font-weight:bold;
}
input, textarea {
    background-color: black;
    color: white;
    border: none;
    padding: 12px 20px
    border-radius : 5px ;
     cursor: pointer;
     width: 100%;
     font-size: 16px;

}

button:hover {
    background-color: #0f27fc;

}
|* responsive design for mobile screens*|
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items:center
    }
    nav ul li {
        margin: 20px 0;
    }
    |*ajust main content for smaller screens *|
    main {
        padding ;20px;
        text-align: center;
    }
    |* ajust contact form for smaller screens *|
    #contact  {
        width: 90%;
        padding: 20px;

    }
    |* ajust footer for smaller screens *|
    footer {
        font-size: 14px;
        padding: 20px 0;
    }

}


